:root * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --gray-1: #fafaf9;
    --gray-2: #e7e5e4;
    --gray-3: #292524;
    --gray-4: #1c1917;
    --gray-m: #78716c;
    --primary: #084c61;
    --accent: #fa3a6d;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
} 

a {
    color: none;
    text-decoration: none;
}

body {
    display: grid;
    /* grid-template: min-content(100px, auto) auto / 200px 1fr; */
    grid-template: 160px auto / 200px 1fr;
    grid-template-areas: 
    "a b"
    "a c";
}


.navigation {
    grid-area: a;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    align-content: start;
    padding: 10px;
    background-color: var(--primary);
}

.navigation * {
    color: white;
}

.navigation img {
    filter: invert(1);
}



.navigation > div {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

.navigation .icon {
    height: 30px;
}

.navigation .logo {
    height: 50px;
}

.navigation > div > * {
    display: grid;
    gap: 10px;
    grid-template-columns: auto  1fr;
}

.navigation .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content {
    grid-area: c;
    min-height: calc(100vh - 100px);
}

.content {
    display: grid;
    grid-template-columns: 1fr 270px;
    background-color: var(--gray-2);
}

.content > .left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 250px;
    gap: 10px;
    padding: 10px;
}

.content > .left > .title {
    border: solid;
    /* overflow: auto;
    text-overflow: clip; */
    grid-column: 1 / -1;
}

.content > .left > .tile {
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* overflow: auto;
    text-overflow: clip; */
}

.content > .right > * {
    border: solid blue;
}

.content > .right {
    display: grid;
    gap: 10px;
    margin: 10px;
    /* height: 100vh; */
    grid-template-rows: auto auto;
    align-content: start;
    border: solid blue;
}

.content > .right > * > * {
    border: solid;
}

.announcementGrid {
    display: grid;
    height: 300px;
    grid-template-rows: auto auto auto;
    align-content: space-around;
    /* gap: 10px; */
}

.announcementGrid p {
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content .right .bottom {
    display: grid;
    grid-template-rows: auto 1fr;
}

.trendingGrid {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    grid-auto-rows: auto;
    align-content: space-around;
    padding: 10px;
}

.trendingGrid div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    
}

.trendingGrid img {
    height: 50px;
    border-radius: 50%;
}

.header {
    grid-area: b;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--gray-1);
}

.header > .top > * {
    border: solid;
}

.header > .bottom > * {
    border: solid;
}

.header > .top {
    display: grid;
    grid-template-columns: minmax(40px, auto) 1fr minmax(40px, auto) minmax(40px, auto) auto;
    gap: 10px;
    align-items: center;
}

.header input {
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #e7e5e4;
}

.header .icon {
    height: 30px;
    justify-self: center;
}

.header .profilePicture {
    height: 50px;
    border-radius: 50%;
}

.header .top .profilePicture {
    margin-left: 10px;
}

.header .bottom .profilePicture {
    height: 70px;
}

.header > .bottom {
    display: grid;
    grid-template-columns: minmax(50px, auto) 1fr 300px;
    align-items: center;
    gap: 10px;
}

.searchbar-parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchbar {

    width: max(30%, 200px);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 5px;
}

.icon {
    height: 30px;
}

.icons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: right;
    gap: 10px;
    border: solid;
    margin-top: auto;
}

.tile.project {
    padding: 5px;
    display: flex;
    flex-direction: column;
}




/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  /* fallback */
  @font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v108/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  
  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .userName, .greeting {
    font-weight: 700;
  }

  .userName.large {
    font-size: 1.6rem;
  }
