:root {
    --gray-1: #fafaf9;
    --gray-2: #e7e5e4;
    --gray-3: #292524;
    --gray-4: #1c1917;
    --gray-m: #78716c;
    --primary: #084c61;
    --accent: #fa3a6d;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    font-size: 16px;
    color: var(--gray-4);
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

h4 {
    font-weight: 700;
    font-size: 1.4rem;
}

h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

h6 {
    font-weight: 600;
    font-size: 1.1rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button:hover {
    scale: 1.05;
}

.link:hover {
    scale: 1.05;
}


.navigation a:hover {
    scale: 1.05;
}

.tile.project:hover {
    scale: 1.05;
}


.content .left a:hover {
    scale: 1.05;
}

.announcementGrid > div:hover {
    scale: 1.05;
}

.trendingGrid>div:hover {
    scale: 1.05;
}


.header .bottom a:hover {
    scale: 1.05;
}


body {
    display: grid;
    /* grid-template: min-content(100px, auto) auto / 200px 1fr; */
    grid-template: min-content auto / 220px 1fr;
    grid-template-areas: 
    "a b"
    "a c";
}


.navigation {
    grid-area: a;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    align-content: start;
    padding: 10px;
    background-color: var(--primary);
}

.navigation * {
    color: white;
}

.navigation img {
    filter: invert(1);
}



.navigation > div {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

.navigation .icon {
    height: 30px;
}

.navigation .logo {
    height: 40px;
}

.navigation > div > * {
    display: grid;
    gap: 10px;
    grid-template-columns: auto  1fr;
}

.navigation .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.content {
    grid-area: c;
    min-height: calc(100vh - 160px);
    display: grid;
    grid-template-columns: 1fr 270px;
    background-color: var(--gray-2);
    padding-left: 20px;
    padding-right: 20px;
}

.content > .left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 250px;
    gap: 20px;
    padding: 10px;
}

.content > .left > .title {
    grid-column: 1 / -1;
    align-self: end;
    justify-self: left;
}

.content > .left > .tile {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    background-color: var(--gray-1);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 15px;
    border-left: 10px solid var(--accent);
}

.content > .left > .tile > .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.content > .right {
    display: grid;
    gap: 20px;
    margin: 10px;
    margin-top: 20px;
    grid-template-rows: auto auto;
    align-content: start;
}

.announcementGridContainer {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.announcementGrid {
    display: grid;
    height: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    /* gap: 20px; */
    background-color: var(--gray-1);
    padding: 20px;
    border-radius: 10px;
}

.announcementGrid > div {
    padding: 10px;
}


.announcementGrid p {
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.announcementGrid > .middle {
    border-top: var(--gray-2) 1px solid;
    border-bottom: var(--gray-2) 1px solid;
}

.trendingGridContainer {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.trendingGrid {
    display: grid;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    gap: 20px;
    grid-auto-rows: auto;
    align-content: space-around;
    background-color: var(--gray-1);
    padding: 20px;
    border-radius: 10px;
}

.trendingGrid > div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    
}

.trendingGrid > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
} 

.trendingGrid img {
    height: 50px;
    border-radius: 50%;
}

.nickname {
    font-weight: 600;
}



.header {
    grid-area: b;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: var(--gray-1);
    box-shadow: var(--shadow-lg);
    z-index: 3;
}

.header > .top {
    display: grid;
    grid-template-columns: minmax(40px, auto) 1fr minmax(40px, auto) minmax(80px, auto);
    gap: 10px;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header input {
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #e7e5e4;
    width: max(40%, 200px);
}

.header .icon {
    height: 30px;
    justify-self: center;
}

.header .top .profilePicture {
    margin-left: 10px;
}

.header .profilePicture img {
    height: 50px;
    border-radius: 50%;
}


.header .bottom .profilePicture img {
    height: 70px;
}

.header > .bottom {
    display: grid;
    grid-template-columns: minmax(50px, auto) 1fr 300px;
    align-items: center;
    gap: 10px;
}

.header .top button {
    background-color: var(--gray-1);
    border: none;
}

.header .bottom button {
    height: 40px;
    border-radius: 15px;
    background-color: var(--primary);
    color: var(--gray-1);
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

.searchbar-parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 5px;
}

.icon {
    height: 30px;
}

.icons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: right;
    gap: 10px;
    margin-top: auto;
}

.tile.project {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.userName {
    font-weight: 700;
}

.userName.large {
    font-size: 1.4rem;
}